{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8" >
    <link rel="stylesheet" type="text/css" href="{% static 'Chatbot.css' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang&display=swap" rel="stylesheet">
    <title>감정 말하기</title>

    <script>
      function getCookie(name) {
        let cookieValue = null;
        if (document.cookie && document.cookie !== '') {
            const cookies = document.cookie.split(';');
            for (let i = 0; i < cookies.length; i++) {
                const cookie = cookies[i].trim();
                if (cookie.substring(0, name.length + 1) === (name + '=')) {
                    cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                    break;
                }
            }
        }
        return cookieValue;
      }

      function sendMe() {
        var ctext = document.getElementById("chattext").value;
        if (ctext == "") {
          document.getElementById("chattext").focus();
          return false;
        }
        var addtext = "<div style='text-align:right;'><span id = addtext>" + ctext + "</span></div>";
        document.getElementById("chatbox").innerHTML += addtext;
        var mydiv = document.getElementById("chatbox");
        mydiv.scrollTop = document.getElementById("chatbox").scrollHeight;

        fetch('/chat-response/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/x-www-form-urlencoded',
            'X-CSRFToken': getCookie('csrftoken')
          },
          body: 'user_input=' + encodeURIComponent(ctext)
        })
        .then(response => response.json())
        .then(data => {
          var bottext = "<div ><span id = bottext>" + data.response + "</span></div>";
          document.getElementById("chatbox").innerHTML += bottext;
          var mydiv = document.getElementById("chatbox");
        mydiv.scrollTop = document.getElementById("chatbox").scrollHeight;
        });

        document.getElementById("chattext").value = "";
      }
    </script>
</head>
<body style="background-color:#FDF5E6;">
  <pre><h5> <a href=" {% url 'home' %}"> 홈으로 </a> <a href=" {% url 'diary' %}"> 오늘의 일기 </a></h5></pre>
  <div id="wrapper">
    <div id="margin">
    <h2 text-align:center;>감정 대화</h2></div>
      <div id="chatbox"></div>
      <div>
          <table width="100%">
              <tr>
                  <td width="85%" align="left">
                      <input type="text" id="chattext" >
                    </td> 
                  <td width="15%" align="right">
                      <button onclick="sendMe()" id="sendbtn">전송</button>
                  </td> 
              </tr>
          </table>
      </div>
  </div> 
</body>
</html>
<script>
  var input = document.getElementById("chattext");

  input.addEventListener("keyup", function(event) {
    if (event.keyCode === 13){
      document.getElementById("sendbtn").click();
    }
  });
</script>